#board {
    width: 640px;
    height: 480px;
    margin: auto;
    position: relative;
    background-color: #8CD;
}

img{
    width: 100px;
    height: 100px;
    transition: opacity .1s;
}

img.fade{
    width: 100px;
    height: 100px;
    transition: opacity 1s;
    transition: 1s;
}
